{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Title %} Mandi Billing Software {% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
    {% comment %} {% block cotton %}
    <button>
        <a href="/cottonapp/" class="add-btn shadow-md hover:shadow-lg">
            Cotton Data
        </a>
    </button>
    {% endblock %} {% endcomment %}
    <div class="form">
        {% block form %}{% endblock %}
    </div>



    <div>
        {% block content %}
            Hey
        {% endblock %}
    </div>
</body>
</html>