{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Title %} Mandi Billing Software {% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
        {% comment %} <h1 class="h-19 bg-orange-500 text-center text-white text-3xl p-3">
           Hello world! its working
        </h1> {% endcomment %}
    <div class="form">
        {% block form %}{% endblock %}
    </div>
    <div>
        {% block content %}
            Hey
        {% endblock %}
    </div>
</body>
</html>